name: Animal Farm NodeJS CI
on:
  push:
    branches:
      - khalids226-patch-1
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '16.x'

      - name: Install dependencies
        run: yarn
        working-directory: app  # ✅ adjust this if your code is under a subdirectory

      - name: Run tests
        run: yarn test
        working-directory: app  # ✅
